In [1]:
import pymysql

In [7]:
import pymysql as mysql
db=mysql.connect(host='localhost',database='vizag',user='root',password='123456',port=3306)
cur=db.cursor()
i=1
n=int(input("enter no of records"))
while(i<=n):
    eno1=int(input("enter eid"))
    ename1=input("enter ename")
    sal1=float(input("enter salary"))
    dname1=input("enter dname")
    sql=("INSERT INTO emp(eno,ename ,sal ,dname) VALUES('%d','%s','%d','%s')"%(eno1,ename1,sal1,dname1))
    cur.execute(sql)
    i=i+1
db.commit()

enter no of records 1
enter eid 101
enter ename fff
enter salary 56789
enter dname hr

In [17]:
import tkinter as tk

In [18]:
window=tk.Tk()

In [19]:
window.mainloop()

In [22]:
#lables
import tkinter as tk
window=tk.Tk()
#create the main window
label=tk.Label(window,text="hello world")
label.pack()
window.mainloop()

In [ ]:
#gui application
from tkinter import *
from tkinter import messagebox
import pymysql as mysql
def ok():
    studname=e1.get()
    coursename=e2.get()
    feee=e3.get()
    mysqldb=mysql.connect(host="localhost",user='root',password='123456',database="vizag")
    mycursor=mysqldb.cursor()
    try:
        sql="INSERT INTO record(stname,course,fee)VALUES(%s,%s,%s)"
        val=(studname,coursename,feee)
        mycursor.execute(sql,val)
        mysqldb.commit()
        messagebox.showinfo("information" ,"Record inserted successfully...." )
    except Exception as e:
      print(e)
      mysqldb.rollback()
      mysqldb.close()

root=Tk()
root.title("student registration")
root.geometry("300x200")
global e1
global e2
global e3
Label(root,text="student name").place(x=10,y=10)
Label(root,text="course").place(x=10,y=40)
Label(root,text="fee").place(x=10,y=80)
e1=Entry(root)
e1.place(x=140,y=10)

e2=Entry(root)
e2.place(x=140,y=40)
e3=Entry(root)
e3.place(x=140,y=80)
Button(root,text="Add",command=ok,height=3,width=13).place(x=10,y=120)
root.mainloop()